* {
    font-family: 'Cabin', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url('images/backgroundmobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media only screen and (min-width: 601px) {
    body {
        background-image: url('images/backgrounddesktop.jpg');
        background-size: stretch;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.navBar a {
    background-color: rgba(255, 255, 255); 
    text-decoration: none !important;
    font-size: 15px;
    color: #fd970d;
    border: 3px solid #fd970d;
    padding: 20px; 
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}

.navBar a:hover {
    background-color: black;
    color: white;
    border: 3px solid white;
}

@media only screen and (max-width: 600px) {
    .navBar a {
        font-size: 10px;
    }
}

.navBar {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    /* display: flex; */
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    
}

.siteLogo {
    width: 300px;
    height: 300px;
    margin: auto;
}

.content h3 a {
    display: inline-block;
    padding: 10px;
    border: 5px solid #333;
    border-radius: 10px;
    color: #fd960d;
    background-color: #333;
    text-decoration: none; 
}

.content h3 a:hover {
    background-color: #fd960d;
    color: white;
    border: 5px solid white;
}

.content h2 {
    color: #fd960d;
    background-color: #333;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.content {
    /* background-color: rgba(255, 255, 255); */
    overflow: auto;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 10px;
    /* border: 3px solid #fd960d; */
    border-radius: 10px;
}

.aboutText {
    margin: auto;
    text-align: center;
    height: auto;
    width: 500px;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
}
