* {
    font-family: 'Cabin', sans-serif;
    font-family: 'Permanent Marker', cursive;
}

@media only screen and (max-width: 600px) {
    body {
        background-image: url('images/backgroundmobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed; /* Add this line */
    }
}

@media only screen and (min-width: 601px) {
    body {
        background-image: url('images/backgrounddesktop.jpg');
        background-size: stretch;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.navBar a {
    background-color: rgba(255, 255, 255); 
    font-size: 15px;
    color: #fd970d;
    border: 3px solid #fd970d;
    padding: 20px; 
    display: inline-block;
    margin: auto;
    border-radius: 10px;
}

.navBar a:hover {
    background-color: #333;
    color: #fd960d;
    border: 3px solid white;
}

@media only screen and (max-width: 600px) {
    .navBar a {
        font-size: 10px;
    }
}

.navBar {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    /* display: flex; */
    overflow: auto;
    /* background-color: rgba(0, 0, 0, 0.5); */
    
}

.hireContent {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    overflow: auto;
}

.hireContent h2 {
    color: #fd960d;
}

.hireContent h4 {
    color: #fd960d;
}

.contactContent p {
    font-family: 'Times New Roman', Times, serif;
}

.contactContent a {
    font-family: 'Times New Roman', Times, serif;
}

.hireContent h3 {
    color: #fd960d;
}

.hireContent p {
    color: #fd960d;
}

.contactContent {
    margin: auto;
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    overflow: auto;
}

.contactContent h2 {
    color: #fd960d;
}

.contactContent h4 {
    color: #fd960d;
}

.contactContent p {
    color: #fd960d;
}

.siteLogo {
    width: 300px;
    height: 300px;
    margin: auto;
}

.content h3 a {
    display: inline-block;
    padding: 10px;
    border: 5px solid #333;
    border-radius: 10px;
    color: #fd960d;
    background-color: #333;
    
}

.content h3 a:hover {
    background-color: #fd960d;
    color: white;
    border: 5px solid white;
}

.content h2 {
    color: #fd960d;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #fd960d;
}

.content {
    /* background-color: rgba(255, 255, 255); */
    overflow: auto;
    width: auto;
    height: auto;
    margin: auto;
    text-align: center;
    padding: 10px;
    /* border: 3px solid #fd960d; */
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .aboutText {
        margin: auto;
        text-align: center;
        height: auto;
        width: auto;
        background-color: #333;
        color: white;
        padding: 10px;
        border: 3px solid #333;
        border-radius: 10px;
    }
}

@media only screen and (min-width: 601px) {
    .aboutText {
        margin: auto;
        text-align: center;
        height: auto;
        width: auto;
        background-color: #333;
        color: white;
        padding: 10px;
        border: 3px solid #333;
        border-radius: 10px;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.aboutText p {
    font-family: 'Times New Roman', Times, serif;
}

.intexth2 h2 {
    color: #fd960d;
    background-color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid #fd960d;
    margin: 20px auto;
    text-align: center;
}

.intexth2 {
    margin: auto;
    text-align: center;
}

.imageContainer {
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
    /* border: 3px solid #fd960d; */
}

.imageContainer p {
    color: white;
}

@media (min-width: 601px) {
    .imageContainer img {
        width: 30%;
        height: 30%;
        padding: 20px;
    }
}

@media (max-width: 600px) {
    .imageContainer img {
        width: 50%;
        height: 50%;
    }
}

.hireContent p {
    font-family: 'Times New Roman', Times, serif;
}

.bodyOther {
    background-image: none;
    background-color: #333;
}

